body{ 
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

nav{
    background-color:orange;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: #000000;
    font-weight:bold;
    font-size:15pt;
      
}

.banner{
    height:400px;
    background-image:url("./img/fundo.png");
    background-size:cover;
}

.banner h1, h4{
    color:aliceblue;
    font-family:'Dancing Script', cursive;
    text-align:center;
    
}

h1{
    font-size:30pt;
    margin:0;
    padding-top:40px;
}

.cadastro{
    display:flex;
    justify-content: center;
    background-color:gold;
    padding-bottom:15px;

}

.cadastro div{
    display:flex;
    flex-direction:column;
    width: 300px;
    
  
}

input{
    border-radius: 10px;
    margin-bottom:8px;
    padding:5px;

}

.botao{
    background-color:aqua;
    color:black;
}

.botao:hover{
    background-color:pink;
    color:azure;
}


nav a:hover{
    color:#f6f6f6;
}

::placeholder{
    color:blue;
    font-size:10pt;
}

footer{
    background-color:rgb(192, 149, 7);
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-top:20px;
    padding-bottom: 10px;
}
.icon{
    height:80px;
    
}
